# Supabase Configuration
VITE_SUPABASE_URL=https://cnwmbfosihhulkicyurb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNud21iZm9zaWhodWxraWN5dXJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAxMjc2ODgsImV4cCI6MjA2NTcwMzY4OH0.W-H8pHy0HtL2K866vjsCNkXuPixrrUwcoD7QsHyLdmUeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNud21iZm9zaWhodWxraWN5dXJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAxMjc2ODgsImV4cCI6MjA2NTcwMzY4OH0.W-H8pHy0HtL2K866vjsCNkXuPixrrUwcoD7QsHyLdmU